<header>
	<h1 class="body-heading">
		<img class="logo" src="/images/logo-white.png" alt="">
	</h1>

	<nav class="body-nav">
		<ul class="nav-list">
			<li class="nav-list__item">
				<button id="scheme-changer" class="button">
					<!-- <i class="fa-duotone fa-moon"></i> -->
					<i class="button__icon fa-duotone fa-sun"></i>
				</button>
			</li>
		</ul>
	</nav>
</header>