<main>
	<article class="card">
		<header class="card__header">
			<h2>Hi, Mijn naam is <%- locals.content.name %></h2>
		</header>
		<div class="card__content">
			<img src="/images/profile-picture.jpg" alt="Foto van Luuk Brauckmann">
			<p><%- locals.content.bio.html %></p>
		</div>
	</article>

	<ul class="socials__list">
		<li class="socials__list__item">
			<a  class="button button--rounded button--text" href="https://www.instagram.com/luuk.png/" target="_blank">
				<i class="fa-brands fa-instagram"></i>
			</a>
		</li>
		<li class="socials__list__item">
			<a  class="button button--rounded button--text" href="https://www.linkedin.com/in/luuk-brauckmann-4ba662171/" target="_blank">
				<i class="fa-brands fa-linkedin"></i>
			</a>
		</li>
		<li class="socials__list__item">
			<a class="button button--rounded button--text" href="https://github.com/luukbrauckmann" target="_blank">
				<i class="fa-brands fa-github"></i>
			</a>
		</li>
		<li class="socials__list__item">
			<a class="button button--rounded button--text" href="https://codepen.io/luuk-brauckmann" target="_blank">
				<i class="fa-brands fa-codepen"></i>
			</a>
		</li>
	</ul>
</main>