/* Imports */

/* Font faces */
@font-face {
	font-family: Mulish;
	src: url('fonts/mulish/Mulish-VariableFont_wght.ttf');
	font-weight: 400;
	font-style: normal;
}

/* Custom properties */
:root {
	--font-size: 1rem;
	--font-family: Mulish, sans-serif;
	--spacing: 1rem;
	--border-radius: 5px;

	--primary-color: #009DFF;
	--secondary-color: #808080;
	--complementary-color: #FF6200;
	--accent-color: #FF00D0;

	--success-color: #22C55E;
	--info-color: #3B82F6;
	--warning-color: #F59E0B;
	--danger-color: #EF4444;

	--elevation: 0px 1px 7px rgba(0, 0, 0, 0.1), 0px 4px 5px -2px rgba(0, 0, 0, 0.12), 0px 10px 15px -5px rgba(0, 0, 0, 0.2);

	--body-padding: calc(((100vw - var(--max-screen-width)) / 2) + var(--spacing));
	--max-screen-width: 100%;

	--breakpoint-sm: 36rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 62rem;
	--breakpoint-xl: 75rem;
	--breakpoint-xxl: 90rem;
}

:root.light-scheme {
	--text-color: black;

	--background: #FFFFFF;
	--text-background: #FFFFFF;

	--foreground: rgba(255, 255, 255, .5);
	--text-foreground: #000000;
}

:root.dark-scheme {
	--text-color: white;

	--background: #1E1E1E;
	--text-background: #000000;

	--foreground: rgba(0, 0, 0, .4);
	--text-foreground: #FFFFFF;
}

/* Defaults */
*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

html,
body {
	height: 100%;
	font-size: var(--font-size);
	font-family: var(--font-family);
	background: var(--background);
}

body {
	display: flex;
	flex-direction: column;
}

body > header {
	flex: 0 1 auto;
	background-color: var(--primary-color);
	display: flex;
	justify-content: space-between;
	padding-inline: var(--body-padding);
	padding-top: var(--spacing);
}

body > main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body > header > h1 > .logo {
	height: 4rem;
}

.nav-list {
	list-style: none;
	padding: 0;
	font-size: 2rem;
}

main::before,
main::after {
	content: '';
	padding: 0;
	width: 100%;
	flex: 1 1 auto;
}

main::before {
	background-image: url('/images/waves-blue-2.svg');
	transform: rotate(.5turn);
}
main::after {
	background-image: url('/images/waves-orange-2.svg');
}

.main-wrapper {
	max-width: var(--breakpoint-sm);
	padding-inline: var(--spacing);
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
}

.button {
	text-decoration: none;
	color: var(--text-color);
	font-size: 1em;
	padding: var(--spacing);
	display: flex;
	gap: var(--spacing);
	justify-content: center;
	align-items: center;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 50%;
	transition: all .2s ease-out;
}

.button:hover {
	cursor: pointer;
	background: var(--foreground);
	border-color: var(--foreground);
	color: var(--text-foreground);
	transition: all .2s ease-in;
}

.button * {
	pointer-events: none;
}

.button > .button__icon {
	width: 1em;
	height: 1em;
}

.card {
	background: var(--foreground);
	border-color: var(--foreground);
	color: var(--text-foreground);
	border-radius: 1rem;
	box-shadow: var(--elevation);
}

.card__header,
.card__content {
	padding: 1rem;
}

.card__header > h2 {
	font-size : 1.25rem;
}

.card__content > img {
	display: none;
}

.socials__list {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	font-size: 2rem;
}

/*  Media queries */

/* - Small */
@media (min-width: 36rem) {
	:root {
		--max-screen-width: var(--breakpoint-sm);
	}
}

/* - Medium */
@media (min-width: 48rem) {
	:root {
		--max-screen-width: var(--breakpoint-md);
	}
}

/* - Large */
@media (min-width: 62rem) {
	:root {
		--max-screen-width: var(--breakpoint-lg);
	}
}

/* - Extra Large */
@media (min-width: 75rem) {
	:root {
		--max-screen-width: var(--breakpoint-xl);
	}
}


/* - Extra Extra Large */
@media (min-width: 90rem) {
	:root {
		--max-screen-width: var(--breakpoint-xxl);
	}
}